
.label_premiere_section{
    font-size:150%;
    color: gray;
    font-weight: bolder;
    font-family: "Comic Sans MS", serif;
    padding-bottom: 20px;
}



.premiere_section{
    width: 80%;
    margin: 50px auto auto;
    background-color: white;
    padding:3%;
    border-style: groove;
}

.formulaire_premiere_section::placeholder{
    color:red!important;
    font-weight: bolder;
}
.deuxieme_section{
    margin: 50px auto auto;
    width: 80%;
    background-color: white;
    height: 230px;
    border-style: groove;
}
.deuxieme_section_img{
    margin-left: 5%;
}
.texte_deuxieme_section{
    width: 60%;
    float:right;
    margin-top:20px;
    color:black;
}

.deuxieme_section_h2{
    color: turquoise;
    font-weight: bolder;
}
.troisieme_section_paragraphe{
    margin-left:10%;
    font-size: 180%;
    text-decoration: underline grey;

}
.troisieme_section_premier_article{
    margin-left:10%;
    background-color: white;
    margin-right: 2%;
    width: 25%;
    display: inline-block;
    padding:20px;
}
.troisieme_section_deuxieme_article{
    background-color: white;
    width: 25%;
    display: inline-block;
    margin-right: 2%;
    padding:20px;
}

.troisieme_section_troisieme_article{
    background-color: white;
    width: 25%;
    display: inline-block;
    padding:20px;
}

.troisieme_section_quatrieme_article{
    background-color: white;
    width: 25%;
    padding:20px;
    display: inline-block;
    margin-left:10%;
    margin-right:2%;
    margin-top: 30px;

}

.troisieme_section{
    margin-top: 30px;
    margin-bottom: 30px;
}

.quatrieme_section_premier_article{
    margin-left:10%;
    background-color: white;
    margin-right: 2%;
    width: 25%;
    display: inline-block;
    padding:20px;

}



