

.text-small {
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    text-decoration: none;
}

.form-control {	
    border-color: #545454;
}
.footer-custom{
    margin-top: 50px;
}
.form-control:focus {
   
}

footer {
    background: #212529;
}

.custom-flex-grow{
 flex-grow:1;
}

/* ==========================================
    CUSTOM UTILS CLASSES
  ========================================== */
body, html {
    height: 100%;
}