body{
    background-color: #F0F0F0;
}

.custom_nav1{
    background-color: white!important;
    justify-content: right;

}

.custom_nav_item1{
    margin-right:-50px;
    width:150px;
}
.custom_nav_item2{
    margin-right:-50px;
    width:200px;
}
.form-control-custom{
    background-color: white!important;	
}
.custom_nav_item3{
    width:150px;
}

.custom_nav{
    background-color: white!important;
}
.custom_img{
    margin-top:-50px;
    height: 100px;
}

.custom_img_nav{
    max-width: 15%;
    height: auto;
    margin-right: 10px;
}

.custom_img_nav1{
    max-width: 25%;
    height: auto;;
}

.custom_h6_nav{
    width:15%;
    margin-right: 25%;
}
.hr_nav{
    margin-top: -2px;
}